@import '@moa/shared/theme.css';

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-bg-primary text-text-high antialiased select-none;
    overscroll-behavior: none;
    min-height: 100dvh;
    min-width: 100dvw;
    overflow: hidden;
    position: relative;
  }

  #root {
    isolation: isolate;
  }

  svg {
    color: inherit;
  }

  /* Allow text selection in specific areas */
  input,
  textarea,
  [contenteditable='true'] {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    cursor: text !important;
  }

  /* Required for drag regions to work with touch/pen on Windows */
  *[data-tauri-drag-region] {
    -webkit-app-region: drag;
    app-region: drag;
  }
}
